<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改密码</title>
    <link rel="stylesheet" href="__CUSTOMER__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <include file="Public/header" title="首页"/>

    <include file="Public/left" />

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>修改密码</legend>
            </fieldset>
            <form class="layui-form" action="javascript:;" id="formPwd">
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="required|password" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">再次密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="sure_password" lay-verify="required|vpassword" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 45px">
                    <button class="layui-btn" lay-submit="" lay-filter="submitPwd">提交</button>
                    <a class="layui-btn layui-btn-primary" href="javascript:;" onclick="window.history.go(-1)">返回</a>
                </div>
            </form>
        </div>
    </div>

    <include file="Public/footer" />

</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        //验证
        form.verify({
            password: [/(.+){6,12}$/, '密码必须6到12位']
            ,vpassword: function (value) {
                var pwd = $('input[name=password]').val();
                if (value !== pwd) {
                    return '两次密码不一样';
                }
            }
        });
        //监听提交
        form.on('submit(submitPwd)', function(data){
            var _data = {
                password: data.field.password,
                sure_password: data.field.sure_password
            };
            $.post("{:U('Client/password')}", _data, function (res) {
                layer.msg(res.msg);
                if (res.code === 200) {
                    setTimeout(function () {
                        window.location.href = "{:U('Login/index')}";
                    }, 1000)
                }
            });
        });
    });
</script>
</body>
</html>