<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item <eq name='Think.CONTROLLER_NAME' value='Client'>layui-this</eq>"><a href="{:U('Client/info')}">基本资料</a></li>

            <li class="layui-nav-item <eq name='Think.CONTROLLER_NAME' value='Article'>layui-nav-itemed</eq>">
                <a class="" href="javascript:;">文章分类</a>
                <dl class="layui-nav-child">
                    <volist name="article_cate_list" id="cate">
                        <dd class="<eq name='cate.cate_id' value='$_GET.cid'>layui-this</eq>"><a href="{:U('Article/index', array('cid' => $cate['cate_id']))}">{$cate.cate_name}</a></dd>
                    </volist>
                </dl>
            </li>
        </ul>
    </div>
</div>